<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--bootstrap cdn-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Google Fonts cdn-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:300,400,500,700&display=swap"
        rel="stylesheet">
    <!--bootstrap.js cdn-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!--Font Awesome cdn. For little good icons and logos-->
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all">
    <!--Our CSS-->
    <link rel="stylesheet" href="../styles/styles.css" media="screen" title="no title" charset="utf-8">
    <!--Jquery slim-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!--Popper.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>



    <title>Sahin Can Baris</title>
</head>


<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">

        <a class="navbar-brand" href="/index">
        <img src="../assets/personal_Logo_1.png" height="60" class="d-inline-block align-top" alt="">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".collapse"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/index" id="index" class="nav-link">Who am I?</a>
                </li>
                <li class="nav-item">
                    <a href="/projects" id="projects" class="nav-link">Projects</a>
                </li>
                <li class="nav-item">
                    <a href="/contact" id="contact" class="nav-link">Contact</a>
                </li>
                </li>
            </ul>
        </div>
    </nav>

    {{{body}}}
    
    <footer class="section footer-classic context-dark bg-image text-center bg-dark fixed-bottom mt-4">
        <div class="container">
            <div class="row row-30">
                <div class="col-md-12 col-xl-12">
                    <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
                        <p class="rights"><span>©  </span><span class="copyright-year">2018</span><span> </span><span>SCbaris</span><span>. </span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters social-container">
            <div class="col"><a class="social-inner" href="https://www.linkedin.com/in/%C5%9Fahin-can-bari%C5%9F-08a25bb4/" target="_blank"><span class="icon mdi mdi-linkedin"></span><span>Linked-in</span></a></div>
            <div class="col"><a class="social-inner" href="https://github.com/SCbaris" target="_blank"><span class="icon mdi mdi-github"></span><span>GitHub</span></a></div>
            <div class="col"><a class="social-inner" href="https://drive.google.com/file/d/1z-x2exQCpPpX5C8atljyRwJPGE9ArARi/view?usp=sharing" target="_blank"><span class="icon mdi mdi-resume"></span><span>Resume</span></a></div>
        </div>
    </footer>
  
  
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- javascript -->
    <!-- bootstrap js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    </body>
</html>