
  <div id="main-container" class="container mt-3">
      <h1 class="pl-1">Contact</h1>
      <hr>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" class="form-control" name="name" placeholder="John Smith" required="required">
      </div>
      <div class="form-group">
        <label for="name">E-Mail</label>
        <input type="email" id="email" class="form-control" name="email" placeholder="example@gmail.com" required="required">
      </div>
      <div class="form-group">
        <label for="name">Message</label>
        <textarea id="message" name="message" class="form-control" rows="5" required="required"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-dark bg-dark btn-block submitBtn" > Submit</button>
      </div>
  </div>