<div class="container mt-3">
  <div class="row pl-3">
    <h1>About Me</h1> 
  </div>
  <hr>
    <div class="row mb-4">
      <div class="col-12 col-sm-12 col-md-3 col-lg-3">
        <img src="../assets/profile-pic-2.png" class="img-fluid" alt="Sahin Can Baris" >
      </div>
      <div class="col-12 col-sm-12 col-md-9 col-lg-9">
        <br><p>Hello. Welcome to my Portfolio Page! <br> 
              My Name is Sahin Can. Can is my middle name. But I prefer to use this name. Because more easy to pronance in English. Sound similar to Jon or John. <br>
              I was born in Turkey. And come to Dream Country. AMERICA. <br>
              I'm Biomedical Engineer. I have worked R&D team as team leader for 3 years. We wrote 3 project. They are about Cancer treatment devices and Cancer diagnosis systems. They still ongoing.<br>
              I involved to customer relitionship and team management. <br>  
            </p>
      </div>
    </div>
    <div class="push"></div>
</div>